# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Intellij
idea
.idea/

# Sqlite
*.sqlite3

# DB data
db
db/

# Virtual envs
venv
venv/

# Keys
*.pem

# Distribution / packaging
bin/
build/
dist/
